
<!--<div *ngFor="let e of employeeList">-->
<!--  {{e.id}} , {{e.employee_name}}, {{e.employee_sallary}}, {{e.employee_age}}, {{e.profile_image}}-->
<!--</div>-->
<div class="ui-g">
  <div class="ui-g-4">
    Employee Name : <input type="text" [(ngModel)]="employee.name" />
  </div>
  <div class="ui-g-4">
    Employee Salary : <input type="text" [(ngModel)]="employee.salary" />
  </div>
  <div class="ui-g-4">
    Employee Age : <input type="text" [(ngModel)]="employee.age" />
  </div>
</div>
<button type="button" pButton (click)="saveEmployee()" label="save"></button>
<button type="button" pButton (click)="updateEmployee()" label="update"></button>


<p-table [value]="employeeList">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Employee Name</th>
      <th>Employee Salary</th>
      <th>Employee Age</th>
      <th>Profile Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.employee_age}}</td>
      <td>{{employee.profile_image}}</td>
      <td><button pButton label="edit" (click)="loadForEditEmployee(employee)" ></button></td>
      <td><button pButton label="delete" (click)="deleteEmployee(employee.id)" ></button></td>
    </tr>
  </ng-template>
</p-table>
